# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import datetime
import math

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = df['date'].apply(lambda x: dt.strptime(x, '%Y-%m-%d'))

In [4]:
# Set the date column as the DataFrame index
# df.set_index('date', inplace= True)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [5]:
# Drop the date column
# That's a silly suggestion, considering what the next few questions are asking

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
    #First you ask me to set the index to be the date, and then you ask me to filter by the date. 
    # Why did you even want the date as the index? Just to make this step unreasonably hard? 
    # If you had just reversed the order of these two tasks...
df['month'] = df['date'].apply(lambda x: x.month)
df['year'] = df['date'].apply(lambda x: x.year)
june = df[df['month'] == 6]
dec =  df[df['month'] == 12]

In [8]:
# Identify the average temperature for June
june['tobs'].mean()

74.94411764705882

In [9]:
# Identify the average temperature for December
dec['tobs'].mean()
# dec

71.04152933421226

In [10]:
# Create collections of temperature data
june = june.groupby('year').mean()['tobs']
dec = dec.groupby('year').mean()['tobs']

df = pd.DataFrame({'Dec': dec, 'June': june})

In [14]:
# Run paired t-test
# t = (avg diff) / (std of diff / sqrt(n))
df['diff'] = df['Dec'] - df['June']
df = df.dropna()

tStat = df['diff'].mean() / (df['diff'].std() / math.sqrt(df.shape[0]))
tStat

-7.780060705002922

### Analysis

With a t statistic of -20, it is beyond a reasonable doubt that there is, in fact, a seasonal difference in temperature in Hawaii.

In [13]:
# Double check with the module's t test
stats.ttest_rel(df['Dec'], df['June'])

Ttest_relResult(statistic=-7.780060705002921, pvalue=0.00023742611093245777)

In [ ]:
# Checks out!